/* app css stylesheet */
body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.menu {
  list-style: none;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-content: space-between;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid pink;
}

/* Users-list */
.users-container {
  position: relative;
  width: 90vw;
  height: 68.3vh;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid black;
}

@media (min-width: 401px) {
  .users-container {
    width: 400px;
  }
}

.user-container {
  display: flex;
  padding: 10px 0;
  border: 1px solid blue;
}

.user-name {
  margin: 0 10px;
  border: 1px solid red;
}

.user-pic {
  margin: 0 10px;
  border: 1px solid green;
}